# Nunca subir credenciales
*.pem
*.key
*.gpg
*.crt
*.asc
secrets.env

# Ignora contenido potencialmente peligroso
.bash_history
.zsh_history
.lesshst
.sqlite*
.DS_Store
Thumbs.db

# SSH / GPG / credenciales
.ssh/
.gnupg/
.git-credentials
.netrc
.pypirc

# Sesiones, tokens y configuraciones locales
.local/
.cache/
python_history
npmrc
aws/
.gcloud/
.kube/
.vscode/
.idea/

# ChezMoi backups
*.bak

